@use '../../../assets/styles/color-palette';

.card-container{
  display: flex;
  flex-flow: row;
  border-radius: 50%;
  border: solid 1px var(--greyx11);
  width: 300px;
  padding: 65px;
  justify-content: space-around;
  margin-top: 50px;
  background-color: white;
}

.column{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 300px;
}
