@use '../../../assets/styles/color-palette';

.navbar-container{
  background-color: transparent;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.navbar-item{
  margin: 0 50px;
  font-size: 24px;
  cursor: pointer;
}

.navbar-item:hover{
  background-color: var(--electric-blue);
}

.divider{
  width: 1px;
  height: 27px;
  background-color: black;
  opacity: 30%;
}

.header{
  text-align: center;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
