<div class="navbar-container">
  <span class="navbar-item" routerLink="/singleplayer">Singleplayer</span>
  <span class="divider"></span>
  <span class="navbar-item" routerLink="/multiplayer">Multiplayer</span>
</div>
<div class="header">
  Welcome to ✨ <span class="highlight">match-the-icon</span>✨!
  <br><br>
  This game was created by <a href="https://twitter.com/MaksymMalicki" class="twitter-link highlight">@MaksymMalicki</a> and <a href="https://twitter.com/kamilchmielu" class="twitter-link highlight">@kamilchmielu</a>
</div>
